<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改功能</title>
</head>
<body>
<center>
    <form action="{:url('/index/index/update_pro')}" method="post">
        <input type="hidden" name="id" value="{$res.id}">
        <table>
            <tr>
                <td>品牌名称:</td>
                <td><input type="text" name="name" value="{$res.name}"></td>
            </tr>
            <tr>
                <td>品牌网址:</td>
                <td><input type="text" name="url" value="{$res.url}"></td>
            </tr>
            <tr>
                <td>排序:</td>
                <td><input type="text" name="number" value="{$res.number}"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" value="修改"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>